<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>


  <center>
    <h1>About Us</h1>
    <h1>Nama : William Evan Budiawan</h1>
    <h1>NRP : C14180222</h1>
    <h1>No Hp : 088217550609</h1>
    <br>
    <br>
    <h1>Game Random</h1>
    <ion-input type="text" [(ngModel)]="angkaInput" placeholder="Tebak angka disini (1-5)" ></ion-input>
    <ion-button (click)="randomCheck()">Cek Random</ion-button>
    <div *ngIf="!gameWin">
      <h1>SALAH!</h1>
    </div>
    <div *ngIf="gameWin">
      <h1>BENAR!</h1>
      <img src="assets/foto1.jpg" style="height: 400px; width:400px;">
    </div>
  </center>
</ion-content>
